body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-image: url(morocco.png);
    color: grey;
    line-height: 35px;
}

#footer {
    background-color: #666666;
    color: lightgrey;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 5px;
    border-top: solid 8px #4aaaa5;
    position: absolute;
    width: 100%;
    font-size: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

li {
    display: inline;
    margin: 5px;
}

#links {
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    top: 0;
    right: 0;
    padding-top: 15px;
    padding-right: 15px;
    margin: 0 16%;
    float: right;
    clear: both;
    position: absolute;
}

#myName {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    font-size: 32px;
    margin: 0 16%;
    padding: 15px;
    width: 250px;
    
}

div.gallery {
    margin: 42px;
    float: left;
    width: 180px;
  }

div.gallery img {
    width: 100%;
    height: auto;
  }

#about {
    border-right: solid 1px grey;
    padding-right: 10px;
    margin: 0 auto;
}

#portfolio {
    border-right: solid 1px grey;
    padding-right: 10px;
}
#container {
    background-color: white;
    width: 1060px;
    margin: 35px 16%;
    padding: 20px;
    border-radius: 5px;
    line-height: 30px;
    height: 467px;
    border: solid #dddddd 1px;
}

#Heading {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(67 160 155);
    font-size: 32px;
    padding-bottom: 25px;
    padding-top: 10px;
    border-bottom: solid lightgrey 5px;
}

header {
    background-color: #ffffff;
    border-bottom: solid #cccccc;
    border-width: 3px;
}

.image {
    padding: 15px;
}

.textBar {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    position: relative;
    width: 170px;
    padding: 5px;
    bottom: 65px;
    left: 0px;
    
}

#copyright {
   padding: 0 0 11px 0;
}

#Github {
font-size: 25px;
padding-left: 480px;
}

@media screen and (max-width: 980px) {
    #container {
        margin: 20px;
        width: auto;
        height: 530px;
    }

    .header {
        width: auto;
        position: static;
    }

    #links {
      width: auto;
    }
  
    div.gallery {
        margin: 10px 5px -60px 100px;
        clear: both;
        position: auto;
        width: 50%
      }

    
}

@media screen and (max-width: 768px) {
    #container {
        margin: 20px;
        width: auto;
        height: 530px;
    }

    .header {
        width: auto;
        position: static;
    }

    #links {
      width: auto;
    }
  
    div.gallery {
        margin: 10px 5px -60px 100px;
        clear: both;
        position: auto;
        width: 50%
      }
}
@media screen and (max-width: 640px) {
   
    #container {
        margin: 20px;
        width: auto;
        height: 530px;
    }

    .header {
        width: auto;
        position: static;
    }

    #links {
      width: auto;
    }
  
    div.gallery {
        margin: 10px 5px -60px 100px;
        clear: both;
        position: auto;
        width: 50%
      }

}
